.nx-text-center {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nx-form-item {
    margin-bottom: 20px;
    .nx-form-filter {
        margin: 0 auto;
    }
}

.nx-pagination-item {
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    width: 400px;
}


.card-style {
    display: inline;
    justify-content: baseline;
    margin-top: 40px;
   
}

.card-img-style {
    width: 200px;
    height: 200px;
}
